<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка поездки</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* Ограничение ширины формы и выравнивание по левому краю */
      .custom-form-container {
          max-width: 400px; /* не очень большая ширина */
          margin: 20px 0 0 0; /* верхний отступ, остальные отступы по умолчанию */
          text-align: left; /* выравнивание содержимого по левому краю */
      }
    </style>
</head>
<body>
<div class="container-fluid">
  <div class="custom-form-container">
    <h2>Загрузка новой поездки для {{ vehicle }}</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Сохранить поездку</button>
      </div>
    </form>
  </div>
</div>
{% bootstrap_javascript %}
</body>
</html>

