name: checks

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: projectdb
          POSTGRES_USER: hunter
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U hunter -d projectdb"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install ruff

    - name: Lint with Ruff
      run: |
        ruff check .

    - name: Wait for Postgres to become ready
      run: |
        for i in {1..10}; do
          pg_isready -h localhost -p 5432 -U hunter -d projectdb && break
          echo "Postgres is not ready yet..."
          sleep 3
        done

    - name: Check migrations
      env:
        DB_NAME: projectdb
        DB_USER: hunter
        DB_PASSWORD: password
        DB_HOST: localhost
        DB_PORT: 5432
      run: |
        echo "Checking migrations..."
        python manage.py makemigrations --check --dry-run

    - name: Run Django tests
      env:
        DB_NAME: projectdb
        DB_USER: hunter
        DB_PASSWORD: password
        DB_HOST: localhost
        DB_PORT: 5432
      run: |
        python manage.py test -v 2

    - name: Test Docker build
      run: |
        echo "Testing Docker build..."
        docker build -t cars-test-image .
