name: Deploy Django Project

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Deploy over SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          cd /home/hunter/project
          git pull origin main
          docker compose down
          docker compose up -d --build
          docker compose exec web python manage.py migrate
          docker compose exec web python manage.py collectstatic --noinput
